<!DOCTYPE html>
<html>
  <head>
    <title>Lets</title>

    <%= javascript_include_tag "https://maps.googleapis.com/maps/api/js?key=AIzaSyA3MOvbKg_cM1xTb1_HyBnykwshCHtXSJk" %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= csrf_meta_tags %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700" rel="stylesheet">
  </head>

  <body>
    <%= yield %>
  </body>
</html>
